<tr class="item">
  <td class="description">
    {{#if amount}}
      <span class="amount">{{amount}}</span>
    {{/if}}
    {{description}}
  </td>
  <td class="price" title="{{amount}}x price">
    {{total_price}}
  </td>
  <td class="date">
    {{date}}
  </td>
  <td class="delete">X</td>
</tr>
