<tr class="item">
  <td class="description">
    {{#if amount}}
      <span class="amount">{{amount}}</span>
    {{/if}}
    <span>{{description}}</span>
  </td>
  {{#if amount}}
  <td class="price" title="{{amount}}x {{price}}">
  {{else}}
  <td class="price">
  {{/if}}
    {{total_price}}
  </td>
  <td class="date">
    {{date}}
  </td>
  <td class="delete">X</td>
</tr>
